.Fretboard {
  position: relative;
  width: 746px;
  height: 105px;
  margin: 77px 0 0 12px;
}

#quesIcon {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 21px;
  height: 20px;
  background: white;
  color: #b90000;
  font-family: Lato;
  font-weight: bolder;
  font-size: 19px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 2px 10px 2px #000;
  text-shadow: 1px 0px 0px #b90000;
}
