.MenuModal {
    width: 550px;
}

.TotalQues {
    position: relative;
    margin-right: 15px;
}

.TotalQuesDisp {
    background: #ddd;
    padding: 1px 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    pointer-events: none;
}

.StringCheckboxesWrap,
.FretCheckboxesWrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.StringCheckboxesWrap .StringCheckbox {
    width: 100px;
}

.FretCheckboxesWrap .FretCheckbox {
    width: 45px;
}
